---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Rest</title>
	</head>
	<body>
		<h1>The current URL pathname is: {Astro.url.pathname}</h1>
		<p>Current time is: {(new Date()).toISOString()}</p>
	</body>
</html>
